* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(214, 208, 233);
}
.row {
  background-color: white;
  border-radius: 50px;
  box-shadow: black 12px 12px 22px;
}
img {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.btn1 {
  background-color: black;
  color: white;
  height: 3rem;
  width: 40%;
  font-weight: bold;
  font-size: 1.5rem;
}
.btn1:hover {
  background-color: white;
  border: black solid;
  color: black;
  font-weight: bold;
}
